<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <style>
    .box{
      background-color: purple;
      width: 200px;
      height: 200px;
    }
    .box.two{
      background-color: red;
    }
    .box.three{
      background-color: blue;
    }
    [v-cloak]{
      display: none;
    }
    input{
      margin: 10px;
      display: block;
    }
  </style>
</head>
<body>
  <div id="app" v-cloak>
    {{greeting}}
    <!-- <form action=""></form> or <custom-form /> -->
    <login-form />
<!--   
    <input @keyup.right="greet(greeting + '!!!!!!!')" v-model="greeting" />    //with press right click greeting will apear
    <input @keyup.prevent.stop="greet(greeting + '!!!!!!!')" v-model="greeting" />  //with press every click greeting will be apear -->

    <!-- <hr/> -->
    <!-- v-if and v-show -->
    <!-- <button v-on:click="isVisible=!isVisible" >toggle box</button> -->
    <!-- <button @click="toggleBox" >toggle box</button>
    <div v-if="isVisible" class="box"></div>
    <div v-else-if="isVisible2" class="box two"></div>
    <div v-else class="box three"></div> -->

  </div>
  <script src="https://unpkg.com/vue@next"  ></script>
  <script>
    let app = Vue.createApp({
      data: function() {
        return{
          greeting: 'welocome!',
          isVisible: true,
          isVisible2 :true

        }
      },
      components:['custom-input'],
      methods: {
        toggleBox(){
          this.isVisible=!this.isVisible
        } ,
        greet(greeting){
          console.log(greeting)
        }

      }
    })
    // v-model and v-bind
    app.component('login-form',{
      template:`
        <form @submit.prevent="handleSubmit">
          <h1>{{title}}</h1>
          <custom-input
            v-for="(input,i) in inputs"
            :key="i"
            v-model="input.value"
            :label="input.label"
            :type="input.type"
          />
          <button>log in</button>
        </form>
      `,
      data(){
        return{
          title:'login form',
          inputs:[
            {
              label:'Email',
              value:'',
              type:'email'
            },
            {
              label:'Password',
              value:'',
              type:'password'
            }
          ]
         
        }
      },
      methods:{
        handleSubmit(){
          console.log(this.inputs[0].value,this.inputs[1].value)
        }
      }
    })
    app.component('custom-input',{
      template:`
        <label>
          {{label}}
          <input :type="type" v-model="inputValue" >
        </label>
      `,
      props:['label','type','modelValue'],
      computed:{
        inputValue:{
          get(){
            return this.modelValue

          }, 
          set(value){
            this.$emit('update:modelValue',value)

          }
        }

      },
      // data(){
      //   return{
      //     inputValue:''
      //   }
      // }
    })
    app.mount('#app')
  </script>
</body>
</html>